:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-area {
  display: flex;
  flex-direction: column;
}

.display-city-area {
  display: flex;
  flex-direction: row;
}

.search-button {
  margin: 1rem;
}

section > div {
  display: flex;
  flex-direction: row;
}
